{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <title>Password reset</title>
</head>
<body>
    <div class="box">
        <h4>Забыли пароль? мы вам отправим 
        инструкцию для востановления пароля на вашу почту
        </h1>
        <form action="" method="POST">
            {% csrf_token %}
                <div>
                    {{form.email.errors}}
                    <p><label for="id_email"> Email address</label></p>
                    {{form.email}}
                </div>
                <input type="submit" value="Сбросить пароль">
        </form>
    </div>
</body>
</html>