{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <title>Password confirm</title>
</head>
<body>
    <div class="box">
        {% if validlink %}
        <h1>Пожадуйста введите новый пароль</h1>
        <form action="" method="post">
            <div>
                <input type="hidden" value="{{csrf_token}}" name="csrfmiddlewaretoken">
            </div>
            <!-- <table> -->
                <!-- <tr> -->
                    <td>{{form.new.password1.errors}}
                    <label for="id_new_password1">New password</label>
                    </td>
                    <td>
                        {{form.new_password1}}
                    </td>
                <!-- </tr> -->
               <!-- <tr> -->
                    <td>
                    {{form.new.password2.errors}}
                    <label for="id_new_password">Password</label>
                    </td>
                    <td>
                        {{form.new_password2}}
                    </td>
                <!-- </tr> -->
                <!-- <tr> -->
                    <td></td>
                    <td><input type="submit" value="Поменять пароль"></td>
                <!-- </tr> -->
            <!-- </table> -->
        </form>
        {% else %}
        <h1>Сброс пароля произошла ошибочно</h1>
        {% endif %}
    </div>
</body>
</html>