{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <title>Signup</title>
</head>
<body>
    <div class="box">
        
        <h1>Sign Up</h1>
        <form action="{% url 'todolist:register' %}" method="post">
            {% csrf_token %}

            <input type="hidden" name="csrfmiddlewaretoken" value="65KQv537hSHtoGHqkIoqO00mQj4EyYjSeS9MnuGZyz3asCFIs60vxEDn0f3nnxfk">
            <p><label for="id_username">Username:</label> <input type="text" name="username" maxlength="150" autofocus="" required="" id="id_username"></p>
            <p><label for="id_email">Email address:</label> <input type="email" name="email" maxlength="254" id="id_email"></p>
            <p><label for="id_password1">Password:</label> <input type="password" name="password1" autocomplete="new-password" required="" id="id_password1"></p>
            <p><label for="id_password2">Password confirmation:</label> <input type="password" name="password2" autocomplete="new-password" required="" id="id_password2"></p>

            <div>
                <input type="submit", value="Sign up">
                <input type="hidden" name="next" value="{{next}}">
            </div>
        </form>
 


        </form>
    </div>
</body>
</html>